@charset "utf-8";
/* CSS Document */

body,table,div,dl,dt,dd,ul,ol,li,a,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
	text-decoration:none;
	list-style:none;
	font-family: "San Francisco";
	background-position:center;
    transition:all 0.5s ease;
}

.wpage{
	width:970px;
	margin:0px auto;
	display:table;
	text-align:center;
}

.clearFloat{
	clear: both;
	padding: 0px;
	margin: 0px;
}

#banner{
	background-image:url(../imgs/Service_banner.jpg);
   display: block;
   width: 100%;
   height: 360px;
   color:#fff;
   background-position:center;
   background-size:cover;
}

.typo{
	text-align:center;
	position:relative;
	top:185px;
}

.typo h1{
	font-size:48px;
	letter-spacing:1px;
	color:#FFFFFF;
}
.typo p{
	font-size:14px;
	width:650px;
	margin:10px auto;
	color:#FFFFFF;
	font-weight: 350;
}

.img-about{
	float:right;
}

.text-about{
	float:left;
	font-size:14px;
	width:420px;
	text-align:left;
	margin-top:10px;	
}

.text-about p{
	margin-bottom:20px;
	color:#4d4959;
	line-height: 20px;
}

.factUs{
	background-image:url(../imgs/Service_decor1.jpg);
	display: block;
	background-position:center;
	width: 100%;
	padding-bottom:80px;
	background-size:cover;
	margin-top:100px;
}

.fact{
	float:left;
	text-align:center;
	margin: 30px 60px;
	color:#fff;
}

.fact h3{
	font-size:48px;	
}

.counter{
    font-size:48px;
    font-weight: 300;
}

#tile h1{
	font-family: 'No_SevenRegular';
	text-align:center;
	color:#fff;;
	font-weight:400;
	letter-spacing: 2px;
	font-size: 48px;
	margin-top:50px;
}

/*--pricing--*/

.pricing-grids{
margin:5% 0;
}

.price-section {
	padding: 6em 0;
	background:#e7edf3;
}

.price-section-head h3 {
	color: #394b50;
	font-size: 2.2em;
	font-weight: 900;
	text-transform: uppercase;
}

.price-head{
padding:24px 0;
border-bottom:1px solid #c5c5c5;
}

.price-head h5 {
	color:#4d4959;	
	font-size:24px;
	text-transform: uppercase;
}
.cost{
padding:30px 0;
border-bottom:1px solid #c5c5c5;
margin-bottom: 50px
}
.cost h3 span {
	font-size:40px;
	vertical-align: top;
}
.cost h3 {
	color:#4d4959;
	font-size:60px;
}

.cost-info p{
 color: #8F8F8F;
  font-size: 14px;
  font-weight: 400;
  padding-top: 15px;
  padding-bottom:15px;
  width: 70%;
  margin:0 auto;
  border-top:1px solid #c5c5c5;
}

.cost-info div{
 	color: #8F8F8F;
  	font-size: 14px;
  	font-weight: 400;
	padding-bottom:15px;
  	width: 70%;
  	margin:0 auto; 
}

.cost-info a{
	color:#f4a48f;
	background:transparent;
	border:1px solid #f4a48f;
	display:inline-block;
	text-decoration:none;
	padding:10px 30px;
	margin-top: 20px;
	font-size:18px;
	font-weight:400;
    letter-spacing: 1px;
}
.price-value {
	border: 1px solid #c5c5c5;
	padding:0 0 50px 0;
	background:#fff;
	width:295px;
	margin-right:12px;
	margin-left: 12px;
	float:left;
}

.prices .special{
    color: #fff;
    background: none;
}

.cost-info a:hover {
    color: #fff;
	background: #f4a48f;
}


.price-value:hover{
    box-shadow: 1px 1px 20px #c5c5c5;
}



/*----*/

.galleries{
	background-color:#f1f1f1;
	display: block;
	width: 100%;
    height: 900px;
	margin-top:100px;}

.album{
	border: 1px solid #c5c5c5;
	padding:0 0 40px 0;
	background:none;
	width:303px;;
	margin-right:8px;
	margin-left:8px;
	float:left;
    background: #fff;
}

.album-info p{
 color: #8F8F8F;
  font-size: 14px;
  font-weight: 400;
  padding-bottom:10px;
  width: 80%;
  margin:0 auto;
}

.album-info h3{
	margin-top:30px;
	font-size:20px;
	margin-bottom:20px;
}

.album-info a{
	color:#4d4959;
	border:1px solid #c5c5c5;
	display:inline-block;
	text-decoration:none;
	padding:10px 30px;
	margin-top: 20px;
	font-size:14px;
	font-weight: inherit;
}

.album-info a:hover{
	color:#fff;
	border:1px solid #4d4959;
	background: #4d4959;
	transition:all 0.5s ease;
}


