@charset "utf-8";

#container{
}
.clearFloat{clear: both}
#banner{
	background:url(../imgs/product/accessories/shopcake_banner.jpg);
	background-repeat:no-repeat;
	background-position:center;
	width:100%;
	height:360px;
}
#veils h1,#headpieces h1,#belts_sashes h1{
    font-family: 'No_SevenRegular';
    text-align:left;
    color:#4d4959;
    font-weight:200;
    letter-spacing: 2px;
    font-size: 30px;
}
#belts_sashes{
    margin-bottom: 55px;
}
/* Table Main */
/*=========================================*/

.tableTD{
	padding-top: 30px;
    padding-right: 44px;
    color:#4F4F4F;
    font-size: 12px;
    line-height: 18px;
} .tableTD2{ padding-right: 0px;}

.tableTD h3,.tableTD2 h3{ font-size: 14px; margin-top: 20px; }

.tableTD button,.tableTD2 button{
	margin-top:10px;
	padding:10px 20px;
	border:none;
	color:#fff;
	font-size:12px;
	letter-spacing:1px;
	height:35px;
	width:114px;
    background:#f4a48f;
    cursor: pointer;
    transition:all 0.5s ease;
}
.tableTD button:hover,.tableTD2 button:hover{
	background:#4d4959;
	border:none;
	color:#fff;
}
.tableTD a,.tableTD2 a{color:#fff;}


.tableTD .product{
    margin: 0px;
    padding: 0px;
}
.tableTD .img{
    padding: 10px;
}
.hoverImg {
    padding: 115px 15px;
    background: #fff;
    transition:all 0.5s ease;
    overflow: hidden;
    opacity: 0;
    cursor: pointer;
}

.hoverImg:hover{
    opacity: 0.8;
}

.hoverImg .button{
    padding: 10px 15px;
    color: #787878;
    border: 1px solid #c5c5c5;
    background: #fff;
    font-size: 14px;
    display: inline-block;
	margin-left: 5px;
    cursor: pointer;
    transition:all 0.5s ease;
}

.hoverImg .button:hover{
    background: #4f4f4f;
    color: white;
    opacity: 1;
}

/* Button */
/*=========================================*/

.tile-product{
    padding: 30px 0px 45px;
    border-bottom: 1px solid #c5c5c5;
    margin-top: 10px;
}

.tile-product h1{
    float: left;
    margin-top: 0px;
}



.bt-control{
    float: right;
}

.btNext, .btPrev{
  border: 1px solid #c5c5c5;
  padding: 5px 10px;
  display:inline-block;
  cursor: pointer;
  color: #c5c5c5;
    transition:all 0.5s ease;
}

.btNext:hover, .btPrev:hover{
    color: #fff;
    background: #f4a48f;
    border: 1px solid #f4a48f;
}

/* QC */
/*=========================================*/

.ads-suit{
    width: 100%;
    background-image: url(../imgs/product/accessories/QC.jpg); 
    color: white;
    padding: 100px 0px;
    margin-top: 55px;
    transition:all 0.5s ease;
} 

.ads-suit h2{
    letter-spacing: 15px;
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 40px;
}
.buttonQC{
    padding: 10px 30px;
    border: 1px solid white;
    cursor: pointer;
    color: white;
    transition:all 0.5s ease;
}
.buttonQC:hover{
    border: 1px solid #f4a48f;
    background-color: #f4a48f;    
}
.ads-suit:hover{
    background-image: url(../imgs/product/accessories/QC2.jpg);
    transition:all 0.5s ease; 
}